<%- include('./partials/header.ejs') %>
<main>
    <section>
        <h1>About Niner Pickup</h1>
        <p>Niner Pickup is a site dedicated to helping UNC Charlotte students find and organize impromptu pickup
            games with other students. Start or find events from 5v5 basketball at UREC to a full party on Call of
            Duty.
            <br /><br />
            This site was created for the ITIS 4166 semester project.</p>
    </section>
</main>
<%- include('./partials/footer.ejs') %>