<%- include('./partials/header.ejs') %>
<main>
    <section>
        <h1>Welcome to Niner Pickup</h1>
        <p>Niner Pickup is a site dedicated to helping UNC Charlotte students find and organize impromptu pickup
            games with other students. Start or find events from 5v5 basketball at UREC to a full party on Call of
            Duty.<br /><br />Check out events already being hosted on Niner Pickup on the Events page or host your
            own using the New Event tool!</p>
    </section>
</main>
<%- include('./partials/footer.ejs') %>